/* Container Types*/
.fiveColumns {
  --defaultLabelColor: var(--bs-primary);
  --defaultBgColor: transparent;
  background-color: var(--backgroundColor, var(--defaultBgColor));
  width: var(--width, 100%);
  margin: 0 auto;
  padding: 0 var(--paddingX, 0);
}

.fiveColumns__section-title {
  color: var(--labelColor, var(--defaultLabelColor));
}

.fiveColumns__grid {
  display: grid;
  grid-template-areas: "left left left left"
                       "mleft mleft mleft mleft"
                       "middle middle middle middle"
                       "mright mright mright mright"
                       "right right right right";
  grid-auto-columns: 1fr;
}

/* Columns */
.fiveColumns__header-region {
  display: grid;
}

.fiveColumns__left-region {
  grid-area: left;
  display: grid;
}

.fiveColumns__middleLeft-region {
  grid-area: mleft;
  display: grid;
}

.fiveColumns__middle-region {
  grid-area: middle;
  display: grid;
}

.fiveColumns__middleRight-region {
  grid-area: mright;
  display: grid;
}

.fiveColumns__right-region {
  grid-area: right;
  display: grid;
}

@media screen and (min-width: 640px) {
  .fiveColumns__grid {
    grid-template-areas: "left left left left"
                         "mleft mleft mleft mleft"
                         "middle middle middle middle"
                         "mright mright mright mright"
                         "right right right right";
  }  
}

@media screen and (min-width: 768px) {
  .fiveColumns__grid {
    grid-template-areas:  "left left left left mleft mleft mleft mleft"
                          "middle middle middle middle middle middle middle middle"
                          "mright mright mright mright right right right right";
  }
}

@media screen and (min-width: 1024px) {
  .fiveColumns__grid {
    grid-template-areas: "left mleft middle mright right";
  }
}