/* Container Types*/
.fiveColumns {
  --defaultLabelColor: var(--bs-primary);
  --defaultBgColor: transparent;
  --defaultWidth: var(--width, 100%);
  --defaultPaddingX: var(--paddingX, 0);
  --defaultHeight: var(--height, 100%);
  background-color: var(--backgroundColor, var(--defaultBgColor));
  width: var(--defaultWidth);
  margin: 0 auto;
  padding: 0 var(--defaultPaddingX, 0);
}

.fiveColumns__section-title {
  color: var(--labelColor, var(--defaultLabelColor));
}

.fiveColumns__grid {
  display: grid;
  grid-template-areas: "left left left left"
                       "mleft mleft mleft mleft"
                       "middle middle middle middle"
                       "mright mright mright mright"
                       "right right right right";
  grid-auto-columns: 1fr;
}

/* Columns */
.fiveColumns__header-region {
  display: grid;
}

.fiveColumns__left-region,
.fiveColumns__middleLeft-region,
.fiveColumns__middle-region,
.fiveColumns__middleRight-region,
.fiveColumns__right-region {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  min-height: max-content;
  height: var(--defaultHeight);
}

.fiveColumns__left-region {
  grid-area: left;
}

.fiveColumns__middleLeft-region {
  grid-area: mleft;
}

.fiveColumns__middle-region {
  grid-area: middle;
}

.fiveColumns__middleRight-region {
  grid-area: mright;
}

.fiveColumns__right-region {
  grid-area: right;
}

@media screen and (min-width: 576px) {
  .fiveColumns {
    width: var(--sm-width, --defaultWidth);
    height: var(--sm-height, --defaultHeight);
    padding: 0 var(--sm-paddingX, --defaultPadding-X);
  }

  .fiveColumns__grid {
    grid-template-areas: "left left left left"
                         "mleft mleft mleft mleft"
                         "middle middle middle middle"
                         "mright mright mright mright"
                         "right right right right";
  }  
}

@media screen and (min-width: 768px) {
  .fiveColumns {
    width: var(--md-width, --sm-width);
    height: var(--md-height, --defaultHeight);
    padding: 0 var(--md-paddingX, --sm-padding-X);
  }

  .fiveColumns__grid {
    grid-template-areas:  "left left left left mleft mleft mleft mleft"
                          "middle middle middle middle middle middle middle middle"
                          "mright mright mright mright right right right right";
  }
}

@media screen and (min-width: 992px) {
  .fiveColumns {
    width: var(--lg-width, --md-width);
    height: var(--lg-height, --defaultHeight);
    padding: 0 var(--lg-paddingX, --md-padding-X);
  }

  .fiveColumns__grid {
    grid-template-areas: "left mleft middle mright right";
  }
}

@media screen and (min-width: 1200px) {
  .fiveColumns {
    width: var(--xl-width, --lg-width);
    height: var(--xl-height, --defaultHeight);
    padding: 0 var(--xl-paddingX, --lg-padding-X);
  }
}

@media screen and (min-width: 1400px) {
  .fiveColumns {
    width: var(--xxl-width, --xl-width);
    height: var(--xxl-height, --defaultHeight);
    padding: 0 var(--xxl-paddingX, --xl-padding-X);
  }
}