/* Container Types*/
.fourColumns {
  --defaultLabelColor: var(--bs-primary);
  --defaultBgColor: transparent;
  --defaultWidth: var(--width, 100%);
  --defaultPaddingX: var(--paddingX, 0);
  --defaultHeight: var(--height, 100%);
  background-color: var(--backgroundColor, var(--defaultBgColor));
  width: var(--defaultWidth);
  margin: 0 auto;
  padding: 0 var(--defaultPaddingX, 0);
}

.fourColumns__section-title {
  color: var(--labelColor, var(--defaultLabelColor));
}

.fourColumns__grid {
  display: grid;
  grid-template-areas: "left left left left"
                       "mleft mleft mleft mleft"
                       "mright mright mright mright"
                       "right right right right";
  grid-auto-columns: 1fr;
}

/* Columns */
.fourColumns__header-region {
  display: grid;
}

.fourColumns__left-region,
.fourColumns__middleLeft-region,
.fourColumns__middleRight-region,
.fourColumns__right-region {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  min-height: max-content;
  height: var(--defaultHeight);
}

.fourColumns__left-region {
  grid-area: left;
}

.fourColumns__middleLeft-region {
  grid-area: mleft;
}

.fourColumns__middleRight-region {
  grid-area: mright;
}

.fourColumns__right-region {
  grid-area: right;
}

@media screen and (min-width: 576px) {
  .fourColumns {
    width: var(--sm-width, --defaultWidth);
    padding: 0 var(--sm-paddingX, --defaultPadding-X);
  }

  .fourColumns__grid {
    grid-template-areas: "left left left left"
                         "mleft mleft mleft mleft"
                         "mright mright mright mright"
                         "right right right right";
  }  
}

@media screen and (min-width: 768px) {
  .fourColumns {
    width: var(--md-width, --sm-width);
    padding: 0 var(--md-paddingX, --sm-padding-X);
  }

  .fourColumns__grid {
    grid-template-areas:  "left left left left mleft mleft mleft mleft"
                          "mright mright mright mright right right right right";
  }
}

@media screen and (min-width: 992px) {
  .fourColumns {
    width: var(--lg-width, --md-width);
    padding: 0 var(--lg-paddingX, --md-padding-X);
  }

  .fourColumns__grid {
    grid-template-areas: "left mleft mright right";
  }
}

@media screen and (min-width: 1200px) {
  .fourColumns {
    width: var(--xl-width, --lg-width);
    padding: 0 var(--xl-paddingX, --lg-padding-X);
  }
}

@media screen and (min-width: 1400px) {
  .fourColumns {
    width: var(--xxl-width, --xl-width);
    padding: 0 var(--xxl-paddingX, --xl-padding-X);
  }
}