.oneColumn {
  --defaultLabelColor: var(--bs-primary);
  --defaultBgColor: transparent;
  display: grid;
  justify-content: center;
  background-color: var(--backgroundColor, var(--defaultBgColor));
}

.oneColumn__section-title {
  color: var(--labelColor, var(--defaultLabelColor));
}

.oneColumn--full {
  grid-template-columns: 100%;
}

.oneColumn--box {
  grid-template-columns: minmax(320px, 60%);
}

.oneColumn--wide {
  grid-template-columns: minmax(320px, 80%);
}

.oneColumn--box__main-region,
.oneColumn--wide__main-region {
  grid-column: 1;
  display: grid;
}

.oneColumn--full__main-region {
  grid-column: 1;
  display: grid;
}