.oneColumn {
  --defaultLabelColor: var(--bs-primary);
  --defaultBgColor: transparent;
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  background-color: var(--backgroundColor, var(--defaultBgColor));
  width: var(--width, 100%);
  margin: 0 auto;
  padding: 0 var(--paddingX, 0);

}

.oneColumn__section-title {
  color: var(--labelColor, var(--defaultLabelColor));
}

.oneColumn__main-region {
  grid-column: 1;
  display: grid;
}
