/* Container Types*/
.threeColumns {
  --defaultBgColor: transparent;
  --defaultLabelColor: var(--bs-primary);
  --defaultWidth: var(--width, 100%);
  --defaultPaddingX: var(--paddingX, 0);
  --defaultHeight: var(--height, 100%);
  background-color: var(--backgroundColor, var(--defaultBgColor));
  width: var(--defaultWidth);
  margin: 0 auto;
  padding: 0 var(--defaultPaddingX, 0);
}

.threeColumns__grid-33-33-33,
.threeColumns__grid-30-30-40,
.threeColumns__grid-30-40-30,
.threeColumns__grid-30-50-20,
.threeColumns__grid-40-30-30,
.threeColumns__grid-40-40-20,
.threeColumns__grid-40-20-40,
.threeColumns__grid-20-40-40,
.threeColumns__grid-20-30-50,
.threeColumns__grid-20-20-60,
.threeColumns__grid-20-50-30,
.threeColumns__grid-20-60-20,
.threeColumns__grid-50-30-20,
.threeColumns__grid-50-20-30,
.threeColumns__grid-60-20-20,
.threeColumns__grid-25-50-25 {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-areas: "left left left"
                       "middle middle middle"
                       "right right right";
}

.threeColumns__section-title {
  color: var(--labelColor, var(--defaultLabelColor));
}

/* Columns */
.threeColumns__left-region {
  grid-area: left;
  display: grid;
  min-height: max-content;
  height: var(--defaultHeight);
}

.threeColumns__middle-region {
  grid-area: middle;
  display: grid;
  min-height: max-content;
  height: var(--defaultHeight);
}

.threeColumns__right-region {
  grid-area: right;
  display: grid;
  min-height: max-content;
  height: var(--defaultHeight);
}

@media screen and (min-width: 768px) {
  .threeColumns__grid-33-33-33,
  .threeColumns__grid-30-30-40,
  .threeColumns__grid-30-40-30,
  .threeColumns__grid-30-50-20,
  .threeColumns__grid-40-30-30,
  .threeColumns__grid-40-40-20,
  .threeColumns__grid-40-20-40,
  .threeColumns__grid-20-40-40,
  .threeColumns__grid-20-30-50,
  .threeColumns__grid-20-20-60,
  .threeColumns__grid-20-50-30,
  .threeColumns__grid-20-60-20,
  .threeColumns__grid-50-30-20,
  .threeColumns__grid-50-20-30,
  .threeColumns__grid-60-20-20,
  .threeColumns__grid-25-50-25 {
    grid-template-areas:  "middle middle middle middle middle middle"
                          "left left left right right right";
  }
}

@media screen and (min-width: 576px) {
  .threeColumns {
    width: var(--sm-width, --defaultWidth);
    padding: 0 var(--sm-paddingX, --defaultPadding-X);
  }
}

@media screen and (min-width: 768px) {
  .threeColumns {
    width: var(--md-width, --sm-width);
    padding: 0 var(--md-paddingX, --sm-padding-X);
  }
}

@media screen and (min-width: 992px) {
  .threeColumns {
    width: var(--lg-width, --md-width);
    padding: 0 var(--lg-paddingX, --md-padding-X);
  }

  .threeColumns__grid-33-33-33 {
    grid-template-areas: "left left left middle middle middle right right right";
  }

  .threeColumns__grid-30-30-40 {
    grid-template-areas: "left left left middle middle middle right right right right";
  }

  .threeColumns__grid-30-40-30 {
    grid-template-areas: "left left left middle middle middle middle right right right";
  }

  .threeColumns__grid-30-50-20 {
    grid-template-areas: "left left left middle middle middle middle middle right right";
  }

  .threeColumns__grid-40-30-30 {
    grid-template-areas: "left left left left middle middle middle right right right";
  }

  .threeColumns__grid-40-40-20 {
    grid-template-areas: "left left left left middle middle middle middle right right";
  }

  .threeColumns__grid-40-20-40 {
    grid-template-areas: "left left left left middle middle right right right right";
  }

  .threeColumns__grid-20-40-40 {
    grid-template-areas: "left left middle middle middle middle right right right right";
  }

  .threeColumns__grid-20-30-50 {
    grid-template-areas: "left left middle middle middle right right right right right";
  }

  .threeColumns__grid-20-20-60 {
    grid-template-areas: "left left middle middle right right right right right right";
  }

  .threeColumns__grid-20-50-30 {
    grid-template-areas: "left left middle middle middle middle middle right right right";
  }

  .threeColumns__grid-20-60-20 {
    grid-template-areas: "left left middle middle middle middle middle middle right right";
  }

  .threeColumns__grid-50-30-20 {
    grid-template-areas: "left left left left left middle middle middle right right";
  }

  .threeColumns__grid-50-20-30  {
    grid-template-areas: "left left left left left middle middle right right right";
  }

  .threeColumns__grid-60-20-20 {
    grid-template-areas: "left left left left left left middle middle right right";
  }

  .threeColumns__grid-25-50-25 {
    grid-template-areas: "left left middle middle middle middle right right";
  }
}

@media screen and (min-width: 1200px) {
  .threeColumns {
    width: var(--xl-width, --lg-width);
    padding: 0 var(--xl-paddingX, --lg-padding-X);
  }
}

@media screen and (min-width: 1400px) {
  .threeColumns {
    width: var(--xxl-width, --xl-width);
    padding: 0 var(--xxl-paddingX, --xl-padding-X);
  }
}