/* Container Types*/
.threeColumns {
  --defaultBgColor: transparent;
  --defaultLabelColor: var(--bs-primary);
  background-color: var(--backgroundColor, var(--defaultBgColor));
}

.threeColumns__grid-33-33-33,
.threeColumns__grid-30-30-40,
.threeColumns__grid-30-40-30,
.threeColumns__grid-30-50-20,
.threeColumns__grid-40-30-30,
.threeColumns__grid-40-40-20,
.threeColumns__grid-40-20-40,
.threeColumns__grid-20-40-40,
.threeColumns__grid-20-30-50,
.threeColumns__grid-20-20-60,
.threeColumns__grid-20-50-30,
.threeColumns__grid-20-60-20,
.threeColumns__grid-50-30-20,
.threeColumns__grid-50-20-30,
.threeColumns__grid-60-20-20,
.threeColumns__grid-25-50-25 {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-areas: "left left left"
                       "middle middle middle"
                       "right right right";
}

.threeColumns__section-title {
  color: var(--labelColor, var(--defaultLabelColor));
}

.threeColumns--box {
  padding-left: 10%;
  padding-right: 10%;
}

.threeColumns--wide {
  padding-left: 5%;
  padding-right: 5%;
}

/* Columns */
.threeColumns__left-region {
  grid-area: left;
  display: grid;
}

.threeColumns__middle-region {
  grid-area: middle;
  display: grid;
}

.threeColumns__right-region {
  grid-area: right;
  display: grid;
}

@media screen and (min-width: 768px) {
  .threeColumns__grid-33-33-33,
  .threeColumns__grid-30-30-40,
  .threeColumns__grid-30-40-30,
  .threeColumns__grid-30-50-20,
  .threeColumns__grid-40-30-30,
  .threeColumns__grid-40-40-20,
  .threeColumns__grid-40-20-40,
  .threeColumns__grid-20-40-40,
  .threeColumns__grid-20-30-50,
  .threeColumns__grid-20-20-60,
  .threeColumns__grid-20-50-30,
  .threeColumns__grid-20-60-20,
  .threeColumns__grid-50-30-20,
  .threeColumns__grid-50-20-30,
  .threeColumns__grid-60-20-20,
  .threeColumns__grid-25-50-25 {
    grid-template-areas:  "middle middle middle middle middle middle"
                          "left left left right right right";
  }
}

@media screen and (min-width: 1024px) {
  .threeColumns__grid-33-33-33 {
    grid-template-areas: "left left left middle middle middle right right right";
  }

  .threeColumns__grid-30-30-40 {
    grid-template-areas: "left left left middle middle middle right right right right";
  }

  .threeColumns__grid-30-40-30 {
    grid-template-areas: "left left left middle middle middle middle right right right";
  }

  .threeColumns__grid-30-50-20 {
    grid-template-areas: "left left left middle middle middle middle middle right right";
  }

  .threeColumns__grid-40-30-30 {
    grid-template-areas: "left left left left middle middle middle right right right";
  }

  .threeColumns__grid-40-40-20 {
    grid-template-areas: "left left left left middle middle middle middle right right";
  }

  .threeColumns__grid-40-20-40 {
    grid-template-areas: "left left left left middle middle right right right right";
  }

  .threeColumns__grid-20-40-40 {
    grid-template-areas: "left left middle middle middle middle right right right right";
  }

  .threeColumns__grid-20-30-50 {
    grid-template-areas: "left left middle middle middle right right right right right";
  }

  .threeColumns__grid-20-20-60 {
    grid-template-areas: "left left middle middle right right right right right right";
  }

  .threeColumns__grid-20-50-30 {
    grid-template-areas: "left left middle middle middle middle middle right right right";
  }

  .threeColumns__grid-20-60-20 {
    grid-template-areas: "left left middle middle middle middle middle middle right right";
  }

  .threeColumns__grid-50-30-20 {
    grid-template-areas: "left left left left left middle middle middle right right";
  }

  .threeColumns__grid-50-20-30  {
    grid-template-areas: "left left left left left middle middle right right right";
  }

  .threeColumns__grid-60-20-20 {
    grid-template-areas: "left left left left left left middle middle right right";
  }

  .threeColumns__grid-25-50-25 {
    grid-template-areas: "left left middle middle middle middle right right";
  }
}