/* Container Types*/
.twoColumns {
  --defaultBgColor: transparent;
  --defaultLabelColor: var(--bs-primary);
  --defaultWidth: var(--width, 100%);
  --defaultPaddingX: var(--paddingX, 0);
  --defaultHeight: var(--height, 100%);
  background-color: var(--backgroundColor, var(--defaultBgColor));
  width: var(--defaultWidth);
  margin: 0 auto;
  padding: 0 var(--defaultPaddingX, 0);
}

.twoColumns__grid-50-50,
.twoColumns__grid-40-60,
.twoColumns__grid-30-70,
.twoColumns__grid-25-75,
.twoColumns__grid-20-80,
.twoColumns__grid-80-20,
.twoColumns__grid-75-25,
.twoColumns__grid-70-30,
.twoColumns__grid-60-40 {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-areas: "left left left left left"
                       "right right right right right";
}

.twoColumns__section-title {
  color: var(--labelColor, var(--defaultLabelColor));
}

/* Columns */
.twoColumns__left-region,
.twoColumns__right-region {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  min-height: max-content;
  height: var(--defaultHeight);
}

.twoColumns__left-region {
  grid-area: left;
}

.twoColumns__right-region {
  grid-area: right;
}

.twoColumns__left-region.revert {
  grid-area: right;
}

.twoColumns__right-region.revert {
  grid-area: left;
}

@media screen and (min-width: 576px) {
  .twoColumns {
    width: var(--sm-width, --defaultWidth);
    height: var(--sm-height, --defaultHeight);
    padding: 0 var(--sm-paddingX, --defaultPadding-X);
  }

  .twoColumns__left-region.sm-revert {
    grid-area: right;
  }
  
  .twoColumns__right-region.sm-revert {
    grid-area: left;
  }
}

@media screen and (min-width: 768px) {
  .twoColumns {
    width: var(--md-width, --sm-width);
    height: var(--md-height, --defaultHeight);
    padding: 0 var(--md-paddingX, --sm-padding-X);
  }

  .twoColumns__left-region.md-revert {
    grid-area: right;
  }
  
  .twoColumns__right-region.md-revert {
    grid-area: left;
  } 

  .twoColumns__grid-50-50 {
    grid-template-areas: "left left left left left right right right right right";
  }

  .twoColumns__grid-40-60 {
    grid-template-areas: "left left left left right right right right right right";
  }

  .twoColumns__grid-30-70 {
    grid-template-areas: "left left left right right right right right right right";
  }

  .twoColumns__grid-25-75 {
    grid-template-areas: "left left right right right right right right";
  }

  .twoColumns__grid-20-80 {
    grid-template-areas: "left left right right right right right right right right";
  }

  .twoColumns__grid-80-20 {
    grid-template-areas: "left left left left left left left left right right";
  }

  .twoColumns__grid-75-25 {
    grid-template-areas: "left left left left left left right right";
  }

  .twoColumns__grid-70-30 {
    grid-template-areas: "left left left left left left left right right right";
  }

  .twoColumns__grid-60-40 {
    grid-template-areas: "left left left left left left right right right right";
  }
}

@media screen and (min-width: 992px) {
  .twoColumns {
    width: var(--lg-width, --md-width);
    height: var(--lg-height, --defaultHeight);
    padding: 0 var(--lg-paddingX, --md-padding-X);
  }

  .twoColumns__left-region.lg-revert {
    grid-area: right;
  }
  
  .twoColumns__right-region.lg-revert {
    grid-area: left;
  }
}

@media screen and (min-width: 1200px) {
  .twoColumns {
    width: var(--xl-width, --lg-width);
    height: var(--xl-height, --defaultHeight);
    padding: 0 var(--xl-paddingX, --lg-padding-X);
  }

  .twoColumns__left-region.xl-revert {
    grid-area: right;
  }
  
  .twoColumns__right-region.xl-revert {
    grid-area: left;
  }
}

@media screen and (min-width: 1400px) {
  .twoColumns {
    width: var(--xxl-width, --xl-width);
    height: var(--xxl-height, --defaultHeight);
    padding: 0 var(--xxl-paddingX, --xl-padding-X);
  }

  .twoColumns__left-region.xxl-revert {
    grid-area: right;
  }
  
  .twoColumns__right-region.-revert {
    grid-area: left;
  }
}